.postBgcolor{
    background-color: rgb(192, 238, 238);
    padding: 20px;
}
.putBgcolor{
    background-color:rgb(152, 145, 140);
    padding: 20px;
}
.patchBgcolor{
    background-color: rgb(192, 238, 238);
    padding: 20px;
}
.deleteBgcolor{
    background-color:rgb(152, 145, 140);
    padding: 20px;
}